/* CSS Document */
@import url("reset.css");

/* @group General Styles ---------------------------------------------------------------------------------------- */
body { font: bold 11px/14px Helvetica, Verdana, Arial, sans-serif; color: #666666; background: #FFFFFF url(/css/images/bg_body.jpg) repeat-x left top; text-align: center; padding-bottom:30px; }
a { color:#F59830; }
a:hover { text-decoration: underline; }
hr { border-top: 1px solid #CCCCCC; margin: 30px 0px;}
p { padding: 6px 0px; }
h1 { font-size: 12px; line-height: 16px; font-weight: bold; text-transform: uppercase; border-bottom: 2px solid #818181; margin-bottom: 4px; }
h2.headline { font-size: 20px; line-height: normal; font-weight: bold; margin: 10px 0 4px; }
h3.date { font-size: 14px; line-height: normal; font-weight: bold; margin: 0 0 8px; }
em { font-style: oblique;}
strong, b { font-weight: bold; }
/* @end */

/* @group General Classes --------------------------------------------------------------------------------------- */
.clear { clear: both; }
.clear:after { content: ""; }
p.message { padding: 6px; background-color: #5156D4; color: #FFFFFF; }
p.error { padding: 6px; background-color: #F59830; color: #FFFFFF; }
p.error b { font-weight: normal; }
.left { float: left; margin-right: 10px;}
.right { float: right; margin-left: 10px;}
.clrleft { clear: left; }
.clrright { clear: right; }
/* @end */

/* @group Layout ------------------------------------------------------------------------------------------------ */
#header, #hero, #content { width: 800px; margin: 5px auto; padding: 0px 20px; text-align: left; overflow: hidden; }
#header { height: 70px; padding: 20px 0px; margin-top: 20px; }
#logo { width: 197px; height: 70px; background: url(/css/images/logo.png) no-repeat center center; float: left; }
#donate_form { float: right; clear: right; display: inline-block; width: 118px; height: 29px; }
#donate_button { float: right; clear: right; display: inline-block; width: 118px; height: 29px; background: url(/css/images/button_donate.png) no-repeat center center; border: none; cursor: pointer; }
#company_info { float: right; clear: right; background-color: #A0DCDC; color: #FFFFFF; padding: 0px 0px 0px 6px; font-size: 10px; line-height: 20px; margin-top: 10px; text-transform: uppercase; letter-spacing: 2px; font-weight: normal; }
#company_info a { background-color: #5156D4; color: #FFFFFF; display: inline-block; padding: 0px 6px; }
#hero { height: 292px; padding: 10px 0px; }
#mission { width: 634px; height: 292px; background: url(/css/images/mission.gif) no-repeat left top; float: left; clear: right; }
#mission_text { font-size: 12px; font-weight: normal; color: #FFFFFF; width: 300px; float: right; padding: 5px 50px 0px 0px; }
#putting { display: inline-block; width: 143px; height: 292px; background: url(/css/images/putting.gif) no-repeat left top; float: right; clear: right; }
#content { }
#left { float: left; clear: left; width: 525px; }
#left-sm { float: left; clear: left; width: 143px; }
#left_content { float: left; clear: left; width: 640px; min-height: 300px;}
#right { float: right; clear: right; width: 250px; }
#putting_left { display: inline-block; width: 143px; height: 292px; background: url(/css/images/putting.gif) no-repeat left top; margin-top:10px; }
#putting_right { display: inline-block; width: 143px; height: 292px; background: url(/css/images/putting.gif) no-repeat left top; float:right; margin-top:10px; }
#sponsorships { float: right; clear: right; width: 634px; }
#pfap_sponsors_logos, #pfap_directors { clear: both; position: relative; overflow: hidden; margin-top: 10px;}
#pfap_directors p {font-weight:normal; margin-right: 20px; float: left; }
#sponsors_logos { float:left; clear:left; width:250px; }
#ad_banners { float:right; clear:right; position:relative; width:534px; height:245px;}
#ad_banners .ad_banner { position: absolute; top: 0; left: 0; display:none; cursor:pointer; }
#ad_banners .ad_banner:first-child { display:block; }
#inner_content p {font-weight:normal;}
#inner_content img {max-width: 600px;border: 6px solid #FFF; -webkit-box-shadow: 2px 2px 5px #999; -moz-box-shadow: 2px 2px 5px #999; box-shadow: 2px 2px 5px #999; margin: 10px 0;}
/* @end */

/* @group Form -------------------------------------------------------------------------------------------------- */
form p input[type="text"] { background-color: #E2F5FC; text-transform: uppercase; color: #888888; padding: 4px; border: 1px solid #99A6AA; margin: 3px 0px; clear: both; -moz-box-shadow:inset 0 0 4px #9BA8AD; -o-box-shadow:inset 0 0 4px #9BA8AD; -webkit-box-shadow:inset 0 0 4px #9BA8AD; box-shadow:inset 0 0 4px #9BA8AD; }
form p input[type="text"]:focus { background-color: #E5F8FF; color: #666666; -moz-box-shadow:inset 0 0 0 #9BA8AD; -o-box-shadow:inset 0 0 0 #9BA8AD; -webkit-box-shadow:inset 0 0 0 #9BA8AD; box-shadow:inset 0 0 0 #9BA8AD; }
form p input[type="text"].error { border-color: #F59830; }
form p input.half { width: 112px; }
form p input.full { width: 240px; }
form p input.left { float: left; clear: left; }
form p input.right { float: right; clear: right; }
#get_info { border: none; display: inline-block; width: 118px; height: 29px; background: url(/css/images/button_getinfo.png) no-repeat center center; cursor: pointer; }
/* @end */

/* @group News -------------------------------------------------------------------------------------------------- */
.news { overflow: hidden; }
.news li { display: inline-block; float: left; clear: left; width: 250px; margin: 5px 12px 0 0; word-wrap: break-word; }
.news li.alt { float: right; clear: right; margin: 5px 0 0 12px; }
.news li h2 { font-weight: bold; }
.news li h2 b { color: #F59830; }
.news li p { font-weight: normal; }
/* @end */

/* @group Tournament Sponsorships ------------------------------------------------------------------------------- */
#sponsorships h1 { margin-bottom: 0px; }
#sponsorships ul { padding-bottom: 40px; }
#sponsorships ul li { border-bottom: 1px solid #999999; overflow:hidden; }
#sponsorships ul li p.title { overflow: hidden; height: 29px; line-height: 29px; font-weight: normal; float: left; clear: left; }
#sponsorships ul li p.price { float: right; clear:none; margin-right: 25px; font-weight: bold; height: 29px; line-height: 29px; }
#sponsorships ul li .purchase_form { float: right; clear:none; border: none; display: block; width: 118px; height: 29px; padding:6px 0px; overflow: hidden; }
#sponsorships ul li .purchase { border: none; display: inline-block; width: 118px; height: 29px; line-height: 70px; overflow: hidden; background: url(/css/images/button_purchase.png) no-repeat center center; cursor: pointer; }
#sponsorships ul li .description { display: none; clear: both; }
#sponsorships ul li .description p { height: auto; line-height: normal; font-weight: normal; }
/* @end */

/* @group Putting For A Purpose Sponsors ------------------------------------------------------------------------ */
#sponsors h1 { padding-top: 10px; }
#pfap_sponsors_logos p .sponsor-logo { margin-left: 20px; }
#pfap_sponsors_logos p .sponsor-logo:first-child { margin-left: 0; }
/* @end */

/* @group Social Media Icons ------------------------------------------------------------------------------------ */
#socials { height: 30px; float: right; clear: none; display: inline-block; margin-right: 10px; }
#socials #facebook { height: 30px; width: 30px; float: right; clear: none; display: inline-block; background: url(/css/images/socials_facebook.png) no-repeat center center; }
#socials #twitter { height: 30px; width: 30px; float: right; clear: none; display: inline-block; background: url(/css/images/socials_twitter.png) no-repeat center center; margin-right: 10px; }
#socials #facebook:hover, 
#socials #twitter:hover { text-decoration: none; cursor: pointer; }
/* @end */

/* @group Social Media Icons ------------------------------------------------------------------------------------ */
a.button { display:inline-block; padding:5px 10px; color:#FFFFFF; background-color:#F59830; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; margin: 5px 0; }
a.button:hover { text-decoration: none; cursor: pointer; }
/* @end */
